:root{
    --primary-color:#562EFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header style */

.header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
}
.logo, .nav{
    display: flex;
    align-items: center;
}
.logo img{
    width: 41px;
    height: 51px;
    margin-right: 17px;
}

.nav li{
    list-style: none;
    margin-left: 37px;
}
.nav a{
    text-decoration: none;
    color: white;
}

