@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --primary-color:#562EFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* main section */
body{
    background-color: #F3F1FF;
}
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title{
    color: var(--primary-color);
    /* margin-top: 35px; */
    margin-bottom: 35px;
    font-size: 25px;
}
hr{
    width: 95%;
    margin: 1px auto;
    color: #D1D1D1;
    margin-bottom: 40px;
}
.filled{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
}
/* Header style */

.header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
}
.logo h4{
    font-size: 30px;
    font-weight: 400;
}
.logo, .nav{
    display: flex;
    align-items: center;
}
.logo img{
    width: 41px;
    height: 51px;
    margin-right: 17px;
}

.nav li{
    list-style: none;
    margin-left: 37px;
}
.nav a{
    text-decoration: none;
    color: white;
}

/* main section styling */

.player-blog-section{
    background-color: #fff;
    width: 870px;
    margin-top: 36px;
    margin-bottom: 21px;
    border-radius: 10px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 20px;
}
.player-name{
    font-weight: 400;
}
.players-section{
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
}
/* blog styling */
.blogs-section{
    margin: 40px 30px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 45px;
}
.blog{
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blog-title{
    font-size: 19px;
    font-weight: 600;
}
.author{
    font-size: 15px;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 17px;
}
.author{
    color: #9F9F9F;
}
/* course section */

.course-section{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course{
    width: 252.42px;
    height: 269.79px;
    border-radius: 10px;
    padding: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.course img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-title{
    margin-top: 12px;
    margin-bottom: 10px;
}
.course-author{
    /* margin-bottom: 5px; */
    color: #ED6B4F;
}
.star{
    font-size: 13px;
}
.time{
    background-color: #FFE4E8;
    padding: 5px 8px;
    color: #FF4A60;
    border-radius: 15px;
}
/* Mobile device */
@media only screen and (max-width: 688px) {
    .logo{
        display: none;
    }
    .links{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .player-blog-section{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
        align-items: flex-start;

    }
    .blog img{
        width: 100%;
        height: auto;
    }
    .blog-info{
        margin-left: 10px;
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .course-section{
        width: 100%;
    }
    .course{
        width: auto;
        height: auto;
    }
    .course img{
        width: 100%;
        height: auto;
    }
}