:root{
    --primary-color:#562EFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* main section */
body{
    background-color: #F3F1FF;
}
.main-section{
    display: flex;
    justify-content: center;

}
.section-title{
    color: var(--primary-color);
    margin-bottom: 35px;
}
hr{
    width: 95%;
    margin: 1px auto;
    color: #D1D1D1;
    margin-bottom: 40px;
}
/* Header style */

.header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
}
.logo, .nav{
    display: flex;
    align-items: center;
}
.logo img{
    width: 41px;
    height: 51px;
    margin-right: 17px;
}

.nav li{
    list-style: none;
    margin-left: 37px;
}
.nav a{
    text-decoration: none;
    color: white;
}

/* main section styling */

.player-blog-section{
    background-color: #fff;
    width: 870px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 20px;
}
.players-section{
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
}
/* blog styling */
.blogs-section{
    margin: 40px 30px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 45px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 17px;
}
.author{
    color: #9F9F9F;
}